## Chaper 10 유사도 측정 실습

### Mahalanobis 거리 실습: diamonds 데이터 세트에서 Mahalobis 거리 계산해보기
* 데이터 출처: https://www.kaggle.com/shivam2503/diamonds

#### 데이터 설명
* 54000개 다이아몬드의 가격, 무게, 투명도 등의 정보를 담은 데이터이다.
* 본 예시에서는 다이아몬드의 무게와 가격을 이용해서 분석해본다.

In [1]:
import pandas as pd
diamonds = pd.read_csv('diamonds.csv')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [2]:
import numpy as np

vector1 = [ diamonds['carat'][0], diamonds['price'][0] ]
vector2 = [ diamonds['carat'][100], diamonds['price'][100] ]

# numpy의 함수를 이용해서 데이터의 표본 공분산을 계산하고 그 역행렬을 구한다.
V_inv = np.linalg.inv(np.cov(diamonds['carat'], diamonds['price']))
print('< carat 변수와 price 변수의 표본 공분산의 역행렬 >')
print(V_inv)

print('\n')

from scipy.spatial.distance import mahalanobis
print(f'Mahalanobis 거리: {mahalanobis( vector1, vector2  , V_inv)}')

< carat 변수와 price 변수의 표본 공분산의 역행렬 >
[[ 2.95391124e+01 -3.23454012e-03]
 [-3.23454012e-03  4.17014264e-07]]


Mahalanobis 거리: 1.5066955437901979

### cosine 거리 실습: 두 문장의 유사도 측정하기

In [3]:
sent1 = '빅데이터는 여러 분야에서 주목받고 있습니다'.split(' ')
sent2 = '빅데이터는 통계와 밀접한 관련이 있습니다'.split(' ')

sentences = [sent1, sent2]

print(f'문장1의 토큰화 결과: {sent1}')
print(f'문장2의 토큰화 결과: {sent2}')

문장1의 토큰화 결과: ['빅데이터는', '여러', '분야에서', '주목받고', '있습니다']
문장2의 토큰화 결과: ['빅데이터는', '통계와', '밀접한', '관련이', '있습니다']

In [4]:
from sklearn.preprocessing import MultiLabelBinarizer
import pandas as pd

mlb = MultiLabelBinarizer()
df = pd.DataFrame(mlb.fit_transform( sentences ),
                  columns=mlb.classes_, index=['문장1','문장2'])
df

     관련이  밀접한  분야에서  빅데이터는  여러  있습니다  주목받고  통계와
문장1    0    0     1      1   1     1     1    0
문장2    1    1     0      1   0     1     0    1

In [5]:
from scipy.spatial.distance import cosine
cosine(df.iloc[0,:], df.iloc[1,:])

0.6